<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });

</script>
<h3>Products</h3>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %> - <%= product.title %> - <a href="itemholdons/new?shopifyId=<%= product.id %>">Set HoldOn Product</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
